<!DOCTYPE html>
<html>
	<head>
		<title>Building Codes Directory</title>
		<link rel="stylesheet" type = "text/css" href="/static/style.css">
	</head>
    <body>
		<div class="topnav">
			<a href="/"{% if cur_page == "home" %}class="active"{% endif %}>Home</a>
			<a href="/projects"{% if cur_page == "projects" %}class="active"{% endif %}>Projects</a>
			<a href="/edit-projects"{% if cur_page == "edit-projects" %}class="active"{% endif %}>Edit Projects</a>
			<a href="/locations"{% if cur_page == "location" %}class="active"{% endif %}>Locations</a>
			<a href="/edit-locations"{% if cur_page == "edit-locations" %}class="active"{% endif %}>Edit Locations</a>
			<a href="/edit-codes"{% if cur_page == "edit-codes" %}class="active"{% endif %}>Edit Codes</a>
			{% if current_user.is_authenticated == True %}
				<a class="float-right" href="/logout">Logout</a>
				<a class="float-right" href="/account">{{ current_user.username }}</a>
			{% else %}
				<a class="float-right" href="/login">Login</a>
			{% endif %}
			
		</div>
		<div class="flask_block">
			{% block content %}
			{% endblock %}
		</div>
	</body>
</html>