<!DOCTYPE html>
<html>
	<head>
		<title>Building Codes Directory</title>
		<link rel="stylesheet" type = "text/css" href="/static/style.css">
	</head>
    <body>
		<div class="topnav">
			<a href="/locations"{% if cur_page == "location" %}class="active"{% endif %}>View Locations</a>
			<a href="/manage-locations"{% if cur_page == "manage_locations" %}class="active"{% endif %}>Manage Locations</a>
			<a href="/manage-codes"{% if cur_page == "manage_codes" %}class="active"{% endif %}>Manage Codes</a>
		</div>
		<div class="flask_block">
			{% block content %}
			{% endblock %}
		</div>
	</body>
</html>