{%extends "_base.html"%}
{%block content%}
<div class="formwrapper">
	<form action="" method="post" novalidate>
		<h2>Add code to {{ location }}</h2>
		{{ add_form.hidden_tag() }}
		{{ add_form.item_select() }}
		{{ add_form.submit_add_item() }}
	</form>
</div>
<div class="row">
	<h2>Applicable codes for {{ location }}</h2>
	<div class="column">
		{% for item in items %}
		<p>
			<a href="{{url_for('code_link', code_id=item.code_id)}}" target="_blank" rel="noopener noreferrer">{{item}}</a>
			<a href="{{url_for('delete_item_from_location', location_id=item.location_id, item_id=item.id)}}">Remove</a>
		</p>
		{% endfor %}
	</div>
</div>
{%endblock%}