{%extends "_base.html"%}
{%block content%}
<div class="formwrapper">
	<h2>Create new code:</h2>
	<form action="" method="post" novalidate>
		{{ create_form.hidden_tag() }}
		<table>
			<tr>
				<th>{{ create_form.name.label }}</th>
				<th>{{ create_form.year.label }}</th>
			</tr>
			<tr>
				<td>{{ create_form.name(size=35) }}</td>
				<td>{{ create_form.year(size=15) }}</td>
			</tr>
		</table>
		<table>
			<tr>
				<th>{{ create_form.link.label }}</th>
			</tr>
			<tr>
				<td>{{ create_form.link(size=40) }}</td>
			</tr>
			<tr>
				<td>{{ create_form.submit_create_code() }}</td>
			</tr>
		</table>		
	</form>
</div>

<div class="formwrapper">
	<h2>Delete code:</h2>
	<form action="" method="post" onsubmit="alert('Are you sure?')">
		{{ delete_form.hidden_tag() }}
		{{ delete_form.code_select() }}
		{{ delete_form.submit_delete_code() }}
	</form>
</div>

{% endblock %}