{%extends "_base.html"%}
{%block content%}
<div class="formwrapper">
	<h2>Create new location:</h2>
	<form action="" method="post" novalidate>
		{{ create_form.hidden_tag() }}
		<table>
			<tr>
				<td>{{ create_form.city.label }}</td>
				<td>{{ create_form.city() }}</td>
			</tr>
			<tr>
				<td>{{ create_form.state.label }}</td>
				<td>{{ create_form.state() }}</td>
			</tr>
			<tr>
				<td>{{ create_form.submit_create_location() }}</td>
		</table>
	</form>
</div>
<br><br>
<div class="formwrapper">
	<h2>Delete Location:</h2>
	<form action="" method="post">
		{{ delete_form.hidden_tag() }}
		{{ delete_form.select() }}
		{{ delete_form.confirm_delete.label }}
		{{ delete_form.confirm_delete() }}
		{{ delete_form.submit_delete() }}
	</form>
</div>

{% endblock %}