{%extends "_base.html"%}
{%block content%}
<div class="div-parent">
	<div>
		<h2>Applicable codes for {{ project }}</h2>
		{% for code in codes %}
		<p>
			<a href="{{url_for('code_link', code_id=code.code_id)}}" target="_blank" rel="noopener noreferrer">{{code}}</a>
			<a href="{{url_for('delete_code_from_project', code_id=code.code_id, project_id=code.project_id)}}">Remove</a>
		</p>
		{% endfor %}
	</div>
	<div class="spacer"></div>
	<div class="formwrapper">
		<form action="" method="post" novalidate>
			<h2>Add code to {{ project }}</h2>
			{{ add_form.hidden_tag() }}
			{{ add_form.select() }}
			{{ add_form.submit() }}
		</form>
	</div>
</div>
{%endblock%}