:root {
	/*COLOR PALETTE*/
	--default-dark: #100C0D;
	--default-grey: #013328;
	--default-light: #E3DCD2;
	--default-accent: #00896b;
}

* {
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
  }

body {
	background-color: var(--default-light);
	color: var(--default-dark);
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	}

.float-right {
	float: right !important;
}

.div-parent {
	display: flex;
}

.spacer {
	flex: .25;
}


.topnav {
	overflow: hidden;
	background-color: var(--default-dark);
}

.topnav a:hover{
	background-color: var(--default-grey);
	color: var(--default-light);
}
/******Set up active tab as a different color******/
.topnav a.active {
	background-color: var(--default-accent);
	color: var(--default-light);
}

.topnav a{
	float: left;
	display: block;
	color: var(--default-light);
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
.title {
	text-align: center;
	color: var(--default-dark);
}

.flask_block {
	margin-left: 10px;
	text-align: left;
	vertical-align: text-top;
}

table {
	text-align: left;
	border: 0px solid;
	border-spacing: 0px;
  }
